<ion-header>
    <ion-toolbar>
        <ion-title>
            Post
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="post">
        <ion-card-header>
            <ion-card-title>{{post.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{post.body}}</ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Comments</ion-card-subtitle>
        </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let comment of comments">
                <ion-label>
                    <h3>{{comment.email}}</h3>
                    <h2>{{comment.name}}</h2>
                    <p>{{comment.body}}</p>
                </ion-label>

            </ion-item>
        </ion-list>

    </ion-card>

</ion-content>